<div class="col-md-12 mt-3">
    <h1> {{page_title}}</h1>
    <p>
        Sign up to our platform to create new posts and much more!!
    </p>
    <div class="alert alert-success col-md-5" *ngIf="status=='success'">
        Registration has been completed successfully.,<a [routerLink]="['/login']"> Sing in now</a>
    </div>
     <div class="alert alert-danger col-md-5" *ngIf="status=='error'">
        Registration could not be completed successfully
    </div>
    <form action="action" class="col-md-5 ml-0 pl-0" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="fom-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z]+">
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                Invalid name
            </small>
        </div>

        <div class="fom-group">
            <label for="surname">Surname</label>
            <input type="text" name="surname" class="form-control" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-Z]+" required>
            <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
                Invalid surname
            </small>
        </div>

        <div class="fom-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email"  required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                Invalid email
            </small>
        </div>

        <div class="fom-group">
            <label for="password">Password</label>
            <input type="password" name="passsword" class="form-control" #password="ngModel" [(ngModel)]="user.password" required>
            <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
                Invalid password
            </small>
        </div>

        <input type="submit" value="Sign Up" class="btn btn-success mt-3" [disabled]="registerForm.invalid"/>