<div class="col-md-12 mt-3">
  <h1>{{page_title}}</h1>
  <p>
    Add a new category
  </p>
  <hr>
  <div class="alert alert-success col-md-5" *ngIf="status=='success'">
    The data has been saved successfully.
  </div>
  <div class="alert alert-danger col-md-5" *ngIf="status=='error'">
    The data could not be saved successfully.
  </div>
  <form action="action" class="col-md-5 ml-0 pl-0" #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)">
    <div class="fom-group">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="category.name" required>
      <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
        Invalid name
      </small>
    </div>

    <input type="submit" value="Save" class="btn btn-success mt-3" [disabled]="categoryForm.invalid" />
  </form>